body {
    margin: 0;
    padding: 0;
}

#puzzle-wrapper {
    margin: 0 auto;
    padding: 0;
    height: auto;
}

.element {
    cursor: pointer;
    background-color: #ff8d55;
    position: absolute;
    border: solid 3px white;
}
