body {
    margin: 0;
    padding: 0;
    
    user-select: none;
}

#puzzle-wrapper {
    margin: 100px auto 0;
    padding: 0;
    height: auto;
    width: auto;
    position: relative;
}

.element {
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: #018aff;
    position: absolute;
    border: solid #ffffff;
    border-radius: 10px;
}
