body {
    margin: 0;
    padding: 0;
    
    user-select: none;
}

#puzzle-wrapper {
    margin: 0 auto;
    padding: 0;
    height: auto;
}

.element {
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: #018aff;
    position: absolute;
    border: solid #ffffff;
}
